{% extends '@DSFacytInfrastructure/Admin/Default/base.html.twig' %}

{% block title %} Usuarios {% endblock title %}

{% block title_notifications %} <span class="fa fa-group"></span>  Usuarios {% endblock title_notifications %}

{% block body %}
    <h3>Listado de usuarios</h3>
    <h4>Gestiona los usuarios del sistema</h4>
    <br>
    <a href="{{ path('ds_facyt_admin_user_new') }}">
        <button type="button" class="btn btn-default"><span class="fa fa-plus"></span> Crear nuevo</button>
    </a>
    <br><br>
    <div ng-app="IndexUserModule" ng-controller="IndexUserController">
    <table class="table table-hover" >
        <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Nombre y Apellido</th>
                <th>Cedula</th>                 
                <th>Escuela</th>                 
                <th>Tipo</th>                 
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="currentUser in users">
                <td ng-if="pagination.current">{[{ $index  + 1 + ((pagination.current - 1)  * 10)  }]}</td>
                <td ng-if="!pagination.current">{[{ $index  + 1 }]}</td>
                <td> <a href="{[{urlEdit}]}" ng-click="getUrlEdit(currentUser.id)" >{[{ currentUser.username }]}</a></td>
                <td> {[{ currentUser.name }]} {[{ currentUser.lastname }]}</td>
                <td> {[{ currentUser.identity_card }]} </td>
                <td> {[{ currentUser.school }]}</td>
                <td> {[{ currentUser.group }]}</td>
            </tr>            
        </tbody>
    </table>   

    
        <center>
        <ul class="pagination" style="margin: 0 0">
            <li ng-show="pagination.current != pagination.firstPageInRange">
                <a href="#" ng-click="generatePagination(pagination.previous)" style="font-weight:bold"><</a>
            </li>
            <li ng-repeat="currentPage in [] | range:pagination.firstPageInRange:pagination.lastPageInRange" >
                <a href="#" ng-click="generatePagination(currentPage)" ng-show="currentPage == pagination.current" class="active">{[{ pagination.firstPageInRange + $index }]}</a>
                <a href="#" ng-click="generatePagination(currentPage)" ng-show="currentPage != pagination.current" >{[{ pagination.firstPageInRange + $index }]}</a>
            </li>
            <li ng-show="pagination.current != pagination.lastPageInRange">
                <a href="#" ng-click="generatePagination(pagination.next)" style="font-weight:bold">></a>
            </li>
        </ul>
            </center>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Tomando variables enviadas desde el servidor -->
    <script type="text/javascript">
        var data = "{{ data }}";
        var div = document.createElement('div');
        div.innerHTML = data;
        data = div.firstChild.nodeValue;
        //console.log( div.firstChild.nodeValue);
        data = JSON.parse(data);
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Users/IndexUser/IndexUserModule.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Users/IndexUser/IndexUserService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Users/IndexUser/IndexUserController.js') }}"></script>        
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}   

{% endblock javascripts %}
