{% extends '@DSFacytInfrastructure/Admin/Default/base.html.twig' %}

{% block title %} Usuarios {% endblock title %}

{% block title_notifications %} <span class="fa fa-group"></span>  Usuarios {% endblock title_notifications %}

{% block body -%}
    <h1>Lista de usuarios</h1>
    <br>
    <a href="{{ path('ds_facyt_admin_user_new') }}">
        <button type="button" class="btn btn-default"><span class="fa fa-plus"></span> Crear nuevo</button>
    </a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula</th>
                <th>Télefono</th>
                <th>Mostrar</th>
                <th>Editar</th>

            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td> {{ loop.index}} </td>
                <td> {{ entity.name }}</td>
                <td> {{ entity.lastname }} </td>
                <td> {{ entity.indentitycard }} </td>
                <td> {{ entity.phone }} </td>
                <td>
                    <a href="{{ path('ds_facyt_admin_user_show', { 'id': entity.id }) }}">ver</a>
                </td>
                <td>
                    <a href="{{ path('ds_facyt_admin_user_edit', { 'id': entity.id }) }}">Editar</a>
                </td>                    
            </tr>
            {% endfor %}
        </tbody>
    </table>   
{% endblock %}