{% extends "DSFacytInfrastructureBundle:Security:layout.html.twig" %}

{% block fos_user_content %}
{% include 'DSFacytInfrastructureBundle:Default:header.html.twig' %}
<div class="container" style="margin-top:10%;">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">

            {% if error %}
                <div class="alert alert-danger" role="alert"><span class="fa fa-warning"></span> Datos incorrectos</div>

            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Menu administrativo<br>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
            <form action="{{ path("ds_facyt_infrastructure_security_check") }}" class="form-signin" role="form" method="post">
                <div class="panel panel-default">
                    <div class="panel-heading"><center><b>Inicio de Sesión</b></center></div>
                    <div class="panel-content">

                            <div class="tab-pane active panel-body" id="login">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <label >Nombre de Usuario</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-user"></span></span>
                                    <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="Introduce tu Nombre de Usuario">
                                </div>
                                <div class="form-group">

                                </div>
                                <label >Constraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"><span class="fa fa-lock"></span></span>
                                    <input type="password" class="form-control" name="_password" value="{{ last_username }}" placeholder="Introduce Contraseña">
                                </div>
                                <br>
                                </h5>
                            </div>

                    </div>
                    <div class="panel-footer">
                        <button type="submit" id="_submit" name="_submit" class="btn btn-sm btn-primary btn-block" ><b>Ingresar</b></button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock fos_user_content %}

