{% extends "DSFacytInfrastructureBundle:Default:base.html.twig" %}

{% block title %} Login {% endblock title %}
{% block stylesheets %}
{% if app.environment == "dev" %}
<link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/template.css') }}"/>
{% else %}
{% stylesheets
 '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
 %}
 <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

 {% endstylesheets %}
 {% endif %}

 {% endblock %}
 
{% block body %}
{% include 'DSFacytInfrastructureBundle:Default:header.html.twig' %}
<div id="body-login">
<div class="container" style="height:100vh;padding-top:7%">
    <div class="row">        
        <div class="col-md-7" style="color:white">
            <h1><b>Bienvenido</b></h1>
            <h3> 
                <i class="fa fa-check"></i> Ingresa tu nombre de usuario y contraseña.<br><br>

                <i class="fa fa-check"></i> Gestiona tus publicaciones<br><br>

                <i class="fa fa-check"></i> ¿Olvidaste tu contraseña? <a href="{{path('ds_facyt_infrastructure_resetting_request')}}"><b>Restablecer contraseña</b></a><br>
            </h3>
        </div>
        <div class="col-md-5">
            
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Menu administrativo<br>
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
            {% else %}
            <form action="{{ path("ds_facyt_infrastructure_user_security_check") }}" class="form-signin" role="form" method="post">
                <div class="panel panel-default" id="panel-login">
                    <div class="panel-heading" ><b><h4>Inicio de Sesión</b></h4></div>
                    <div class="panel-content">
                    
                        <div class="tab-pane active panel-body" id="login">
                        {% if error %}
                        <span style="color:#DB2929">
                            <span class="fa fa-warning"></span> Datos incorrectos
                        </span>
                        <br>
                        <br>
                    {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <label ><span class="fa fa-user"></span> Nombre de Usuario o correo electrónico</label>
                            <input type="text" class="form-control" name="_username" value="{{ last_username }}" placeholder="Nombre usuario / correo electrónico">
                            <br>
                            <label><span class="fa fa-lock"></span> Constraseña</label>
                            <input type="password" class="form-control" name="_password" value="{{ last_username }}" placeholder="Introduce Contraseña">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block " ><b>Ingresar</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
</div>


{% endblock body %}

{% block footer %}
{% set last_body = 1 %}
    {{ include("DSFacytInfrastructureBundle:Default:footer.html.twig") }}
{% endblock footer %}


