{% extends "base.html.twig" %}
{% block title %} Videos {% endblock title %}
{% block stylesheets %}
{% if app.environment == "dev" %}
<link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/template.css') }}"/>
<link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/bootstrap-datepicker.css') }}"/>        

{% else %}
{% stylesheets
    '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
    '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/datepicker.css'


    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

    {% endstylesheets %}
    {% endif %}

    {% endblock %}

    {% block body %}
    {% include 'DSFacytInfrastructureBundle:User:header.html.twig' %}
    <div id="body-user">
        <div class="container" >
            <div ng-app="VideoModule" ng-controller="VideoController" id="page-wrapper" style="min-height: 311px;">
                <div class="row">
                    <div class="col-xs-12" style="color:white">
                        <br>
                        <h1>  <span class="fa fa-video-camera"></span> Videos</h1>
                        <h4> A continuación podrás ver tus publicaciones de tipo video</h4>
                        <br>
                        <br>
                    </div>
                    <div class="col-xs-12">
                    <div class="alert alert-info pull-right" style="position:fixed;right:16px;bottom:0;z-index:100" ng-show="alert_message != false" ng-cloak>
                        <span ng-show="alert_message == 1">
                            <span class="fa fa-spinner fa-spin" aria-hidden="true"></span> Actualizando ... 
                        </span>
                        <span ng-show="alert_message == 2">
                            <span class="fa fa-check"></span> Agregada a destacado
                        </span>
                        <span ng-show="alert_message == 3">
                            <span class="fa fa-times"></span> Eliminación de destacado
                        </span>
                        <span ng-show="alert_message == 4">
                            <span class="fa fa-trash"></span> Publicación eliminada
                        </span>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="btn-group">
                            <a href="{{ path('ds_facyt_infrastructure_user_video_new') }}" class="btn btn-default btn-sm " type="button" >
                                <span class="fa fa-plus"></span> &nbsp; Video nuevo
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="pull-right">
                            <b>Estado</b>       
                            <div>
                            <i class="fa fa-circle color_status" style="position:absolute;padding-left:10px;padding-top:10px;" ng-class="color_status" ng-if="status_select >= 0"></i>
                            <select name="name" id="inputID" class="form-control" ng-model="status_select" style="padding-left:24px;" >
                                <option value="-1" ng-selected="status == -1">  -- Selecione -- </option>
                                <option value="0" ng-selected="status == 0"> Nuevo </option>
                                <option value="1" ng-selected="status == 1"> Corregir </option>
                                <option value="2" ng-selected="status == 2"> Aceptada </option>
                                <option value="3" ng-selected="status == 3"> Activa </option>                                
                                <option value="4" ng-selected="status == 4"> Finalizada </option>
                                <option value="5" ng-selected="status == 5"> Cancelada </option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-xs-12" >
                        <div id="box-alert"></div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-content" >
                                <thead>
                                    <th style="width: 5%"><a href="">#</a></th>
                                    <th style="width: 15%"><a href="" ng-click="setFiler('publish_time');">Hora a publicar</a></th>
                                    <th style="width: 15%"><a href="" ng-click="setFiler('start_date');">Fecha de Inicio</a></th>
                                    <th style="width: 15%"><a href="" ng-click="setFiler('end_date');">Fecha Final</a></th>
                                    <th style="width: 30%"><a href="" ng-click="setFiler('title');">Título</a></th>
                                    <th style="width: 5%"><a href="">Estado</a></th>
                                    <th style="width: 5%"><a href="">Detalle</a></th>
                                </thead>
                                <tbody>
                                    <tr ng-show="publish.length == 0">
                                        <td ng-repeat="i in [0,1,2,3,4,5,6]"> -</td>
                                    </tr>
                                    <tr ng-repeat="currentVideo in publish" ng-if="publish.length > 0" ng-cloak>
                                        <td ng-if="pagination.current">{[{ $index  + 1 + ((pagination.current - 1)  * 10)  }]}</td>
                                        <td ng-if="!pagination.current">{[{ $index  + 1 }]}</td>
                                        <td>{[{ currentVideo.publish_time}]}</td>
                                        <td>{[{ currentVideo.start_date}]}</td>
                                        <td>{[{ currentVideo.end_date}]}</td>
                                        <td>{[{ currentVideo.title}]}</td>
                                        <td>
                                            <center><span class="fa fa-circle" ng-class="{
                                            'status-new': currentVideo.status === 0,
                                            'status-change': currentVideo.status == 1,
                                            'status-accepted': currentVideo.status == 2,
                                            'status-active': currentVideo.status == 3,
                                            'status-finish': currentVideo.status == 4,
                                            'status-canceled' : currentVideo.status == 5}"></span></center>
                                        </td>
                                        <td style="video-align: center"><a style="cursor: pointer" ng-click="modalPreviewVideo($index);getUrlEdit(publish[$index].id)"> <span class="fa fa-eye" ></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12">                                       
                            <ul class="pagination" style="margin: 0 0"> 
                                <li ng-show="pagination.current > 1">
                                    <a ng-click="generatePagination(pagination.previous)" style="font-weight:bold"><</a>
                                </li>
                                <li ng-repeat="currentPage in [] | range:pagination.firstPageInRange:pagination.lastPageInRange" >
                                    <a ng-click="generatePagination(currentPage-1)" ng-class="{'active': currentPage-1  == pagination.current}">{[{ pagination.firstPageInRange + $index }]}</a>
                                </li>
                                <li ng-show="pagination.current < pagination.lastPageInRange">
                                    <a ng-click="generatePagination(pagination.next)" style="font-weight:bold">></a>                                    
                                </li>
                            </ul>                            
                        </div>            
                    </div>
                    <br>
                    <br>
                    {{ include("DSFacytInfrastructureBundle:User:Modal/modalPreviewVideo.html.twig") }}
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %}
    {% include 'DSFacytInfrastructureBundle:Default:footer.html.twig' %}
    {% endblock footer %}

    {% block javascripts%}
        <!-- Tomando variables enviadas desde el servidor -->
        <script type="text/javascript">
            var data = "{{ data }}";
            var div = document.createElement('div');
            div.innerHTML = data;
            data = div.firstChild.nodeValue;
            //console.log( div.firstChild.nodeValue);
            data = JSON.parse(data);

        </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.tpl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Video/videoModule.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Video/videoService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Video/videoController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>    
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.es.min.js') }}"></script>
    {% else %}

    {% javascripts
    '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
    "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/angular-strap.js"
    "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/app-panel-video.js"
    "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/bootstrap-datepicker.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
    {% endif %}

    <script type="text/javascript">
        $('.input-group.date').datepicker({
            language: "es",
            format: 'dd/mm/yyyy',
            startDate: '-3d',

        });
        $('.dropdown-toggle').dropdown()
    </script>
    {% endblock %}