<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% if app.environment == "dev" %}
                <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/admin.css') }}"/>
                <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/bootstrap-datepicker.css') }}"/>
                <link rel="stylesheet" type="text/css" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/timepicker.css') }}"/> 
            {% else %}
                {% stylesheets
                    '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/admin.css'
                    '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/datepicker.css'
                %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

                {% endstylesheets %}  
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% block login %}
        <div id="wrapper" >
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    {% include 'DSFacytInfrastructureBundle:Admin/Default:sidebar.html.twig' %}
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12" >
                            <div class="row">
                                <div class="col-xs-6">
                                    <h3>
                                        {% block title_notifications %}
                                        {% endblock title_notifications %}
                                    </h3>
                                </div>
                                <div class="col-xs-6 ">
                                    <h3 class="pull-right">
                                        <span class="fa fa-pencil"></span> 10
                                        <span class="fa fa-camera"></span> 3
                                        <span class="fa fa-play"></span> 4
                                        <span class="fa fa-user"></span> 2
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 0px; ">
                    {% block body %}{% endblock body%}
                </div>
            </div>
        </div>

        <div class="toggle-navbar " id="menu-toggle" >
            <a href="#">
                <b>
                    <span class="fa fa-angle-left"></span>
                </b>
            </a>
        </div>
        {% endblock login %}


        {% block javascripts %}

            <!-- Tomando variables enviadas desde el servidor -->
            {% if data is defined %}
            <script type="text/javascript">
                var data = "{{ data }}";
                var div = document.createElement('div');
                div.innerHTML = data;
                data = div.firstChild.nodeValue;
                //console.log( div.firstChild.nodeValue);
                data = JSON.parse(data);
            </script>
            {% endif %}

            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
            <script>

                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");

                    if($('#wrapper').hasClass("toggled"))
                        $('.toggle-navbar').css('left',0);
                    else
                        $('.toggle-navbar').css('left', '220px');

                });

                $('.sidebar-nav > li > a').click(function(){
                    var childToggleTag = $(this).children('.toggle-tag');

                    if (childToggleTag.hasClass('fa-angle-left')) {
                        childToggleTag.removeClass('fa-angle-left');
                        childToggleTag.addClass('fa-angle-down');
                        $(this).addClass('active');
                    } else {
                        childToggleTag.removeClass('fa-angle-down');
                        childToggleTag.addClass('fa-angle-left');
                        $(this).removeClass('active');
                    }
                });
            </script>
        {% endblock %}
    </body>

    <footer>        
        {% block footer %}
        {% endblock footer %}    
    </footer>
</html>
