<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                <b>DSFacyt - Admin</b>
            </a>
        </li>
        <li>
            {%  if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_admin_homepage' %}
                <a href="{{ path('ds_facyt_infrastructure_admin_homepage') }}" class="active">
            {% else %}
                <a href="{{ path('ds_facyt_infrastructure_admin_homepage') }}">
            {% endif %}
                <span class="fa fa-home"></span> Principal
            </a>
        </li>
        <li>
            {% if ('/publish/' in app.request.uri) %}
                <a href="#SubMenu1"  data-toggle="collapse" data-parent="#SubMenu1" class="active" aria-expanded="true">
            {% else %}
                <a href="#SubMenu1"  data-toggle="collapse" data-parent="#SubMenu1">
            {% endif %}
                <span class="fa fa-bell"></span>  Publicaciones <span class="toggle-tag fa fa-angle-left" ></span>
            </a>
            <div class="collapse list-group-submenu" id="SubMenu1" aria-expanded="true">
                <a style="margin-left: 6px" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text'}) }}" class="list-group-item" data-parent="#SubMenu1">
                    <span class="fa fa-pencil"> </span> Textos
                </a>
                <a style="margin-left: 6px"
             href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image'}) }}" class="list-group-item" data-parent="#SubMenu1">
                    <span class="fa fa-camera"> </span> Imágenes
                </a>
                <a style="margin-left: 6px" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}" class="list-group-item" data-parent="#SubMenu1">
                    <span class="fa fa-play"> </span> Videos
                </a>
            </div>
        </li>
        <li>
            <a href="{{ path('ds_facyt_admin_channel') }}">
                <span class="fa fa-desktop"></span>  Canales
            </a>
        </li>
        <li>
            <a href="{{ path('ds_facyt_infrastructure_admin_quicknote') }}"><span class="fa fa-paper-plane"></span>  Notas rápidas </a>
        </li>
        <li>
            <a href="#SubMenu2" data-toggle="collapse" data-parent="#SubMenu2"><span class="fa fa-group"></span>  Usuarios <span class="toggle-tag fa fa-angle-left" ></span></a>
            <div class="collapse list-group-submenu" id="SubMenu2" >
                <a style="margin-left: 6px" href="{{ path('ds_facyt_admin_user') }}" class="list-group-item" data-parent="#SubMenu2">
                    <span class="fa fa-user"> </span> Usuarios
                </a>
                <a style="margin-left: 6px" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image'}) }}" class="list-group-item" data-parent="#SubMenu2">
                    <span class="fa fa-group"> </span> Grupos
                </a>                
            </div>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-gears"></span>  Configuraciones
            </a>
        </li>
        <li>
            <a href="{{ path('ds_facyt_infrastructure_admin_security_logout') }}">
                <span class="fa fa-sign-out"></span>  Salir
            </a>
        </li>
</div>
