<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                <b>DSFacyt - Admin</b>
            </a>
        </li>
        <li>
            {%  if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_admin_homepage' %}
                <a href="{{ path('ds_facyt_infrastructure_admin_homepage') }}" class="active">
            {% else %}
                <a href="{{ path('ds_facyt_infrastructure_admin_homepage') }}">
            {% endif %}
                <span class="fa fa-home"></span> Principal
            </a>
        </li>
        <li>
            {% if ('/publish/' in app.request.uri) %}
                <a href="#SubMenu1" data-toggle="collapse" data-parent="#SubMenu1" aria-expanded="true" class="active">
                <span class="fa fa-bullhorn "></span>  Publicaciones <span class="toggle-tag fa fa-angle-down" ></span>
                <div class="collapse list-group-submenu in" id="SubMenu1" aria-expanded="true">
            {% else %}
                <a href="#SubMenu1"  data-toggle="collapse" data-parent="#SubMenu1">
                <span class="fa fa-bullhorn "></span>  Publicaciones <span class="toggle-tag fa fa-angle-left" ></span>
                </a>            
                <div class="collapse list-group-submenu" id="SubMenu1" aria-expanded="true">
            {% endif %}                
                
                {% if ('/publish/text' in app.request.uri) %}
                    <a style="background-color:#777777 !important;color:white !important;" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text'}) }}" class="list-group-item" class="active" data-parent="#SubMenu1">
                {% else %}
                    <a style="" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text'}) }}" class="list-group-item" class="active" data-parent="#SubMenu1">    
                {% endif %}
                                <span class="fa fa-pencil"> </span> Textos
                </a>
                {% if ('/publish/image' in app.request.uri) %}
                    <a style="background-color:#777777 !important;color:white !important;" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image'}) }}" class="list-group-item" data-parent="#SubMenu1">
                {% else %}
                    <a style="" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image'}) }}" class="list-group-item" data-parent="#SubMenu1">
                {% endif %}
                    <span class="fa fa-camera"> </span> Imágenes
                </a>
                {% if ('/publish/video' in app.request.uri) %}
                    <a style="background-color:#777777 !important;color:white !important;" href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}" class="list-group-item" data-parent="#SubMenu1">
                {% else %}
                    <a  href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}" class="list-group-item" data-parent="#SubMenu1">
                {% endif %}
                    <span class="fa fa-play"> </span> Videos
                </a>
            </div>
        </li>


        <li>
            {% if ('/notification/' in app.request.uri) %}
                <a href="{{ path('ds_facyt_admin_home_notification') }}" class="active">
            {% else %}
                <a href="{{ path('ds_facyt_admin_home_notification') }}">
            {% endif %}
                <span class="fa fa-bell-o"></span>  Notificaciones
            </a>
        </li>
        <li>
            {% if ('/channel/' in app.request.uri) %}
                <a href="{{ path('ds_facyt_admin_channel') }}" class="active">
            {% else %}
                <a href="{{ path('ds_facyt_admin_channel') }}">
            {% endif %}
                <span class="fa fa-desktop"></span>  Canales
            </a>
        </li>
        <li>
             {% if ('/quicknote/' in app.request.uri) %}
                <a href="{{ path('ds_facyt_infrastructure_admin_quicknote') }}" class="active">
            {% else %}
                <a href="{{ path('ds_facyt_infrastructure_admin_quicknote') }}">
            {% endif %}

            <span class="fa fa-paper-plane"></span>  Notas rápidas </a>
        </li>
        <li>
            {% if ('/user' in app.request.uri) or ('/group' in app.request.uri) %}
                <a href="#SubMenu2" data-toggle="collapse" data-parent="#SubMenu2" aria-expanded="true" class="active">
                <span class="fa fa-group"></span>  Usuarios <span class="toggle-tag fa fa-angle-down" ></span></a>
                <div class="collapse list-group-submenu in" id="SubMenu2" >
            {% else %}
                <a href="#SubMenu2" data-toggle="collapse" data-parent="#SubMenu2" >
                <span class="fa fa-group"></span>  Usuarios <span class="toggle-tag fa fa-angle-left" ></span></a>
                <div class="collapse list-group-submenu" id="SubMenu2" >
            {% endif %}

            {% if ('/user' in app.request.uri) or ('/group' in app.request.uri)%}
                <a style="background-color:#777777 !important;color:white !important;" href="{{ path('ds_facyt_admin_user') }}" class="list-group-item" data-parent="#SubMenu2" >
            {% else %}
                <a style="" href="{{ path('ds_facyt_admin_user') }}" class="list-group-item" data-parent="#SubMenu2">
            {% endif %}
                    <span class="fa fa-user"> </span> Usuarios                
                </a>
                <a style="" href="{{ path('ds_facyt_admin_group_homepage')}}" class="list-group-item" data-parent="#SubMenu2">
                    <span class="fa fa-group"> </span> Grupos
                </a>                
            </div>
        </li>
        <li>
            {% if ('/config/' in app.request.uri) %}
                <a href="{{ path('ds_facyt_admin_config_homepage') }}" class="active">
            {% else %}
                <a href="{{ path('ds_facyt_admin_config_homepage') }}">
            {% endif %}
                <span class="fa fa-gears"></span>  Configuraciones
            </a>
        </li>
        <li>
            <a href="{{ path('ds_facyt_infrastructure_admin_security_logout') }}">
                <span class="fa fa-sign-out"></span>  Salir
            </a>
        </li>
</div>
