{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}

{% block title %} Notificaciones {% endblock title %}

{% block title_notifications %} <span class="fa fa fa-bell-o"></span>  Notificaciones {% endblock title_notifications %}

{% block body -%}
    <div ng-app="IndexNotificationModule" ng-controller="IndexNotificationController">
    <h3>Notificaciones </h3>
    <div class="row">
        <div class="col-xs-12" >
        <div class="pull-left">
            <h4>Listado de las notificaciones </h4>
        </div>
            <div class="pull-right">
                <div class="row">
                    <div class="col-xs-6">
                        <b>&nbsp;</b>       
                        <div>
                        <ol class="breadcrumb">
                          <li><span class="fa fa-circle status-finish"></span> Visto</li>                  
                        </ol>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <b>Tipo</b>       
                        <div>
                        <i class="fa font_type" style="position:absolute;padding-left:10px;padding-top:10px;" ng-class="font_type" ng-if="type_select != -1"></i>
                        <select name="name" id="inputID" class="form-control" ng-model="type_select" style="padding-left:24px;" >
                            <option value="-1" ng-selected="status == -1">  -- Selecione -- </option>
                            <option value="text" ng-selected="status == 'text'"> Texto </option>            
                            <option value="image" ng-selected="status == 'image'"> Imagen </option>
                            <option value="video" ng-selected="status == 'video'"> Video </option>         
                        </select>
                        </div>
                    </div>
                </div>                    
            </div>        
        </div>
    </div>
    
    <br>
    <div >
    <table class="table table-hover" >
        <thead>
        <tr>
            <th> # </th>
            <th>Publicación</th>
            <th>Tipo</th>
            <th>Evento</th>
            <th>Fecha</th>                        
        </tr>
        </thead>
        <tbody>            
            
            <tr ng-repeat="currentNotification in notifications "  ng-class="{'notification-view': currentNotification.view}">
            
                <td ng-if="pagination.current">{[{ $index  + 1 + ((pagination.current - 1)  * 10)  }]}</td>
                <td  ng-if="!pagination.current">{[{ $index  + 1 }]}</td>
                <td><a ng-href="{[{urlEdit}]}" ng-click="getUrlEdit($index)" target="_blank">{[{currentNotification.title}]}</a></td>
                <td>{[{currentNotification.type}]}</td>
                <td>{[{currentNotification.event}]}</td>
                <td>{[{currentNotification.last_modified}]}</td>
                </a>
            </tr>
            
        </tbody>
    </table>
        <center>
            <ul class="pagination" style="margin: 0 0">
                <li ng-show="pagination.current != pagination.firstPageInRange">
                    <a href="#" ng-click="generatePagination(pagination.previous)" style="font-weight:bold"><</a>
                </li>
                <li ng-repeat="currentPage in [] | range:pagination.firstPageInRange:pagination.lastPageInRange" >
                    <a href="#" ng-click="generatePagination(currentPage)" ng-show="currentPage == pagination.current" class="active">{[{ pagination.firstPageInRange + $index }]}</a>
                    <a href="#" ng-click="generatePagination(currentPage)" ng-show="currentPage != pagination.current" >{[{ pagination.firstPageInRange + $index }]}</a>
                </li>
                <li ng-show="pagination.current != pagination.lastPageInRange">
                    <a href="#" ng-click="generatePagination(pagination.next)" style="font-weight:bold">></a>
                </li>
            </ul>
        </center>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <!-- Tomando variables enviadas desde el servidor -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% if app.environment == "dev" %}
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Notification/IndexNotification/IndexNotificationModule.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Notification/IndexNotification/IndexNotificationService.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Notification/IndexNotification/IndexNotificationController.js') }}"></script>
        {% else %}
            {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

            {% endjavascripts %}
        {% endif %}

    {% endblock javascripts %}

