{% extends "DSFacytInfrastructureBundle:Admin/Default:base.html.twig" %}

{% block title %} Bienvenido - Panel Admin {% endblock title %}

{% block title_notifications %}
    <span class="fa fa-home"></span> Bienvenido.
{% endblock title_notifications %}

{% block body %}
    <div class="row" ng-app="IndexModule" ng-controller="IndexController">
        {% include "DSFacytInfrastructureBundle:Admin/Default:notifications.html.twig" %}        
        <div class="col-xs-6">
                    <div class="alert alert-info pull-right" style="position:fixed;right:16px;bottom:0;z-index:100" ng-show="alert_message != false" ng-cloak>
                        <span ng-show="alert_message == 1">
                            <span class="fa fa-spinner fa-spin" aria-hidden="true"></span> Actualizando ... 
                        </span>                        
                    </div>                                   
                </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-2">
                    <b>Fecha Inicial</b>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control input-small" ng-model="start_date">
                    </div>
                </div>
                <div class="col-xs-2">
                    <b>Fecha Final</b>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control input-small" ng-model="end_date">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h4><span class="fa fa-bullhorn"></span> Publicaciones </h4>            
            <div class="row">
                <div class="col-xs-4">
                    <div class="panel panel-default">
                    	  <div class="panel-heading">
                    			<h3 class="panel-title"><span class="fa fa-pencil"></span> Textos</h3>
                    	  </div>
                    	  <div class="panel-body" ng-cloak>
                    			<a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text'}) }}" ng-cloak> Nuevo {[{data['publish']['texts'][0]}]} </a><br>
                                <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text','status': 1}) }}" ng-cloak> Aceptada {[{data['publish']['texts'][1]}]}</a><br>
                                <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text','status': 2}) }}" ng-cloak> Activa {[{data['publish']['texts'][2]}]}</a><br>
                                <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text','status': 3}) }}" ng-cloak> Finalizada {[{data['publish']['texts'][3]}]}</a>
                                <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'text','status': 4}) }}" ng-cloak> Cancelada {[{data['publish']['texts'][4]}]}</a>
                    	  </div>
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-camera"></span> Imágenes</h3>
                        </div>
                        <div class="panel-body">
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image'}) }}"> Nuevo {[{data['publish']['images'][0]}]}</a>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image','status':1}) }}"> Aceptada {[{data['publish']['images'][1]}]}</a>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image','status':2}) }}"> Activa {[{data['publish']['images'][2]}]}</a><br>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image','status':3}) }}"> Finalizada {[{data['publish']['images'][3]}]}</a>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'image','status':4}) }}"> Cancelada {[{data['publish']['images'][3]}]}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-play"></span> Videos</h3>
                        </div>
                        <div class="panel-body">
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}"> Nuevo {[{data['publish']['videos'][0]}]}</a>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}"> Aceptada {[{data['publish']['videos'][1]}]}</a>                            
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}"> Activa {[{data['publish']['videos'][2]}]}</a><br>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}"> Finalizada {[{data['publish']['videos'][3]}]}</a>
                            <a href="{{ path('ds_facyt_infrastructure_get_publish_type_status',{'type':'video'}) }}"> Cancelada {[{data['publish']['videos'][4]}]}</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.tpl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.es.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Index/indexModule.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Index/indexService.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Index/indexController.js')}}"></script>
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'        
            "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/angular-strap.js"
            "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/bootstrap-datepicker.js"
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/app-admin-index.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}
    <script type="text/javascript">
        $('.input-group.date').datepicker({
            language: "es",
            format: 'dd/mm/yyyy',
            startDate: '-3d',
        });
    </script>
{% endblock javascripts %}
