{% extends "@DSFacytInfrastructure/Admin/Default/base.html.twig" %}

{% block body %}
<div ng-app="PublishModule" ng-controller="PublishController">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    Las siguientes publicaciones son de tipo {% block title %} {% endblock %}
                </div>
                <div class="col-xs-6">
                    <div class="alert alert-info pull-right" style="position:fixed;right:16px;bottom:0;z-index:100" ng-show="alert_message != false" ng-cloak>
                        <span ng-show="alert_message == 1">
                            <span class="fa fa-spinner fa-spin" aria-hidden="true"></span> Actualizando ... 
                        </span>
                        <span ng-show="alert_message == 2">
                            <span class="fa fa-check"></span> Agregada a destacado
                        </span>
                        <span ng-show="alert_message == 3">
                            <span class="fa fa-times"></span> Eliminación de destacado
                        </span>
                        <span ng-show="alert_message == 4">
                            <span class="fa fa-trash"></span> Publicación eliminada
                        </span>
                    </div>                                   
                </div>
             </div>
            <br>
             <div class="row">
                <div class="col-xs-4 col-md-2">
                    <b>Fecha Inicial</b>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control input-small" ng-model="start_date">
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <b>Fecha Final</b>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input class="form-control input-small" ng-model="end_date">
                    </div>
                </div>
                <div class="col-xs-4 col-md-4 pull-right" >
                    <div class="row">
                        <div class="col-xs-6">
                            <br>
                            <a href="{[{urlNewPublish}]}">
                                <button type="button" class="btn btn-default pull-right">
                                    <span class="fa fa-plus"></span> Crear Nuevo
                                </button>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <b>Estado</b>       
                            <div>
                            <i class="fa fa-circle color_status" style="position:absolute;padding-left:10px;padding-top:10px;" ng-class="color_status" ng-if="status_select != -1"></i>
                            <select name="name" id="inputID" class="form-control" ng-model="status_select" style="padding-left:24px;" >
                                <option value="-1" ng-selected="status == -1">  -- Selecione -- </option>
                                <option value="0" ng-selected="status == 0"> Nuevo </option>
                                <option value="1" ng-selected="status == 1"> Corregir </option>
                                <option value="2" ng-selected="status == 2"> Aceptada </option>
                                <option value="3" ng-selected="status == 3"> Cancelada </option>
                                <option value="4" ng-selected="status == 4"> Finalizada </option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr>
        <div class="row" ng-if="publish == null">            
            <div class="col-xs-4 col-xs-offset-4" >
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <span class="fa fa-exclamation" style="font-size:100px;"></span>
                            </div>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>No se encontraron publicaciones</h4>
                                        <h5>Realiza una nueva busqueda</h5>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>                        
            </div>
        </div>
        {% block table %} {% endblock table %}
        {{ include("DSFacytInfrastructureBundle:Admin/Publish/Modal:modalInfo.html.twig") }}
        <div class="col-xs-12 ">
            <center>
            <ul class="pagination" style="margin: 0 0">
                <li ng-show="pagination.current != pagination.firstPageInRange">
                    <a href="#" ng-click="generatePagination(pagination.previous)" style="font-weight:bold"><</a>
                </li>
                <li ng-repeat="currentPage in [] | range:pagination.firstPageInRange:pagination.lastPageInRange" >
                    <a href="#" ng-click="generatePagination(currentPage)" ng-show="currentPage == pagination.current" class="active">{[{ pagination.firstPageInRange + $index }]}</a>
                    <a href="#" ng-click="generatePagination(currentPage)" ng-show="currentPage != pagination.current" >{[{ pagination.firstPageInRange + $index }]}</a>
                </li>
                <li ng-show="pagination.current != pagination.lastPageInRange">
                    <a href="#" ng-click="generatePagination(pagination.next)" style="font-weight:bold">></a>
                </li>
            </ul>
            </center>
        </div>        
    </div>
</div>
{% endblock body %}

{% block javascripts%}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.tpl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.es.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Publish/publishModule.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Publish/publishService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Publish/publishController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.es.min.js') }}"></script>
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/angular-strap.js'
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/bootstrap-datepicker.js'
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/app-admin-publish.js'
            ''
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}

    <script type="text/javascript">
        $('.input-group.date').datepicker({
            language: "es",
            format: 'dd/mm/yyyy',
            startDate: '-3d',
            orientation: 'top',
            autoclose: true
        });
    </script>
{% endblock javascripts %}