{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}

{% block stylesheets %}
{{ parent()}}
    {% if app.environment == "dev" %}
        
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/videogular.css') }}"/>
    {% else %}
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
f
        {% endstylesheets %}
    {% endif %}

{% endblock %}

{% block title %} Videos {% endblock title %}

{% block title_notifications %}
    <span class="fa fa-play-circle-o"></span> Editar Video
{% endblock title_notifications %}

{% block body %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2" ng-app="UploadVideoModule" ng-controller="UploadVideoController as controller">
                <div class="panel panel-default" >
                    <div class="panel-heading"><h4>Ingresa los datos de la publicación</h4></div>
                    <div class="panel-body">
                        <form name="setVideo" action="{{ path('ds_facyt_infrastructure_admin_video_new_validate')}}" method="POST">
                        <div class="row">
                            <input type="hidden" name="id" value="{[{data.id}]}">
                            <div class="col-xs-5 col-xs-offset-1">
                                <label class="control-label">* Título</label> <span class="error" ng-show="setVideo.title.$invalid && !setVideo.title.$pristine" ng-cloak> de 10 a 30 caracteres</span>
                                <input type="text" name="title" id="input" class="form-control" ng-model="data.title" autofocus ng-required="true" ng-minlength="10" ng-maxlength="30">                                                               
                                <br>
                            </div>
                            <div class="col-xs-5">
                                <label class="control-label">* Estado</label> 
                                <br>
                                <i class="fa fa-circle color_status circle-status" ng-class="color_status" ng-if="status_select != -1"></i>
                                <select name="status" class="form-control select-status" ng-model="data.status" >
                                    <option value="0" ng-selected="data.status == 0"> Nuevo </option>
                                    <option value="1" ng-selected="data.status == 1"> Aceptada </option>
                                    <option value="2" ng-selected="data.status == 2"> Activa </option>                                
                                    <option value="3" ng-selected="data.status == 3"> Finalizada </option>
                                    <option value="4" ng-selected="data.status == 4"> Cancelada </option>
                                </select>
                            </div>                            
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row ">
                                    <div class="col-xs-12 col-md-4">
                                  <label class="control-label">* Hora de publicación </label>
                                        <div class="input-group bootstrap-timepicker timepicker">
                                            <input type="text" name="publish_time"  class="form-control  input-small" id="registerImage_publish_time" ng-model="data.publish_time" ng-required="true">
                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>                                            
                                        </div>                                        
                                        <span class="error" ng-show="setVideo.publish_time.$invalid" ng-cloak>*hora obligatoria</span>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label class="control-label">* Fecha inicial </label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="start_date" id="input" class="form-control" ng-model="data.start_date" ng-required="true">                                            
                                        </div>
                                        <span class="error" ng-show="setVideo.start_date.$invalid && !setVideo.start_date.$pristine">*fecha inicial obligatoria</span>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <label class="control-label">* Fecha final </label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" name="end_date" id="input" class="form-control" ng-model="data.end_date">
                                        </div>
                                        <span class="error" ng-show="setVideo.end_date.$invalid && !setVideo.end_date.$pristine" ng-cloak>*fecha final obligatoria</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1" id="register_text_checkbox">                                                            
                                <br>
                                <label class="control-label">Canales a publicar </label>
                                <div class="checkbox" >
                                    <label ng-repeat="(key, value) in data.channels">
                                        <input type="checkbox" name="channels[{[{key}]}]" value="{[{value.id}]}" ng-model="data.channels[key].value">
                                        {[{value.name}]}
                                    </label>
                                </div>
                                <br>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1" id="register_text_checkbox">
                                <label class="control-label">* Descripción</label>
                                <input type="text" name="description" id="input" class="form-control" ng-model="data.description" ng-required="true">
                                <span class="error" ng-show="setImage.description.$invalid && !setImage.description.$pristine" ng-cloak>*descripción obligatoria</span>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1 videogular-container">
                                <br>
                                Selecciona una Video
                                <input type="file" name="video">
                                <br>
                                <videogular vg-theme="controller.config.theme" vg-player-ready="controller.onPlayerReady($API)" ng-show="data.video_url">
                                    <vg-media vg-src="controller.config.sources">
                                    </vg-media>

                                    <vg-controls>
                                        <vg-play-pause-button></vg-play-pause-button>
                                        <vg-time-display>{[{ currentTime | date:'mm:ss' }]}</vg-time-display>
                                        <vg-scrub-bar>
                                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                        </vg-scrub-bar>
                                        <vg-time-display>{[{ timeLeft | date:'mm:ss' }]}</vg-time-display>
                                        <vg-volume>
                                            <vg-mute-button></vg-mute-button>
                                            <vg-volume-bar></vg-volume-bar>
                                        </vg-volume>
                                        <vg-fullscreen-button></vg-fullscreen-button>
                                    </vg-controls>

                                    <vg-overlay-play></vg-overlay-play>
                                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                                </videogular>        
                            </div> 
                            </div>

                            </div>
                        <div class="panel-footer">
                            <div class="row">
                             <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block " ><b>Publicar</b>
                                </button>
                            </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}

    {{parent()}}

        <!-- Tomando variables enviadas desde el servidor -->
    <script type="text/javascript">
        var data = "{{ data }}";
        var div = document.createElement('div');
        div.innerHTML = data;
        data = div.firstChild.nodeValue;
        //console.log( div.firstChild.nodeValue);
        data = JSON.parse(data);
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.es.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-timepicker.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-sanitize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/videogular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-controls.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-overlay-play.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-poster.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-buffering.js') }}"></script>    
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Video/uploadVideoModule.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Video/uploadVideoService.js') }}"></script>        
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Video/uploadVideoController.js') }}"></script>        
        
    {% else %}
        {% javascripts
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
        "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/bootstrap-datepicker.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}


    <script type="text/javascript">
        $('.input-group.date').datepicker({
            language: "es",
            format: 'dd/mm/yyyy',
            startDate: '-3d',
        });

        $('#registerImage_publish_time').timepicker(
        {
            defaultTime: '7:00 AM',
            icons: {
                up: 'fa fa-chevron-up',
                down: 'fa fa-chevron-down'
            }
        });
    </script>

{% endblock javascripts %}