{% extends "base.html.twig" %}

{% block stylesheets %}

    {% stylesheets
    '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/stylesheets/screen.css'
    '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/css/metisMenu/metisMenu.css'
    '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/css/startbootstrap-sb-admin-2/timeline.css'
    '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/css/startbootstrap-sb-admin-2/sb-admin-2.css'

    filter='?yui_css'  %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

    {% endstylesheets %}

{% endblock %}

{% block body %}
    {% include 'DSFacytInfrastructureBundle:User:header.html.twig' %}

    <div ng-app="TextModule" ng-controller="TextController" id="page-wrapper" style="min-height: 311px;">
        <div class="row">
            <div class="col-xs-12 ">
                <h1 class="page-header ">  <span class="fa fa-pencil"></span> Publicar texto</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Ingresa los datos de la publicación</div>

                    <div class="panel-body">
                        <form >
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <label >Título</label>
                                <input type="text" class="form-control" name="_password" value="asas" placeholder="Introduce el título">
                                <br>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <label >Fecha a publicar</label>
                                        <input type="text" class="form-control" name="_password" value="asas" placeholder="Introduce Contraseña">
                                    </div>
                                    <div class="col-xs-4">
                                        <label >Fecha a publicar</label>
                                        <input type="text" class="form-control" name="_password" value="asas" placeholder="Introduce Contraseña">
                                    </div>
                                    <div class="col-xs-4 ">
                                        <label >Fecha final</label>
                                        <input type="text" class="form-control" name="_password" value="asas" placeholder="Introduce Contraseña">
                                    </div>
                                </div>
                            </div>

                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block javascripts%}
    <!-- Tomando variables enviadas desde el servidor -->

    {% if app.environment == "dev" %}

        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/metisMenu.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/sb-admin-2.js') }}"></script>
    {% else %}
        {% javascripts
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/jquery.js'
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/bootstrap.js'
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/metisMenu.js'
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/sb-admin-2.js'


        filter='?yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}
{% endblock %}