{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}

{% block title %} Editar Canal {% endblock title %}

{% block title_notifications %} <span class="fa fa-desktop"></span>  Editar Canal {% endblock title_notifications %}

{% block body -%}
<h3>Editar canal</h3>
    <h4>Ingresa los datos del canal a editar</h4>
    <br>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">            
        {{ form_start(edit_form ,{attr: {novalidate: 'novalidate'}}) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Editar Canal</h4>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_label(edit_form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(edit_form.name, {'attr': {'class': 'form-control '}}) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(edit_form.status, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(edit_form.status, {'attr': {'class': 'form-control '}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        {{ form_label(edit_form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(edit_form.description, {'attr': {'class': 'form-control '}}) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-16">
                        <center>
                            {{ form_label(edit_form.submit, null, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(edit_form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                        </center>
                    </div>
                </div>                    
            </div>
            {{ form_rest(edit_form)}}
        </div>            
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>        
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}   

{% endblock javascripts %}
