{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}

{% block title %} Canales {% endblock title %}

{% block title_notifications %} <span class="fa fa-desktop"></span>  Canales {% endblock title_notifications %}

{% block body -%}
    <h1>Canales disponibles</h1>
    <br>
    <a href="{{ path('ds_facyt_admin_channel_new') }}">
        <button type="button" class="btn btn-default"> <span class="fa fa-plus"></span> Crear nuevo</button>
    </a>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> # </th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Mostrar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ds_facyt_admin_channel_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>                
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.status }}</td>
                <td>
                   <a href="{{ path('ds_facyt_admin_channel_show', { 'id': entity.id }) }}">show</a>
                </td>
                <td>
                    <a href="{{ path('ds_facyt_admin_channel_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
        
    {% endblock %}
