{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}

{% block title %} Canales {% endblock title %}

{% block title_notifications %} <span class="fa fa-desktop"></span>  Canales {% endblock title_notifications %}

{% block body -%}
    <h1>Canales disponibles</h1>
    <h4>Listado de los canales del sistema</h4>
    <br>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-3">
                <a href="{{ path('ds_facyt_admin_channel_new') }}">
                    <button type="button" class="btn btn-default"> <span class="fa fa-plus"></span> Crear nuevo</button>
                </a>
            </div>
            <div class=" col-xs-9">
                <div class="pull-right">
                    <span>Estados </span>
                    <ol class="breadcrumb">
                      <li><span class="fa fa-circle status-active"></span> Activo</li>
                      <li><span class="fa fa-circle status-desactive"></span> Inactivo</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th> # </th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th style="width:6%">Estado</th>
                <th style="width:6%">Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ds_facyt_admin_channel_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>                
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <center>
                    {% if entity.status == '1' %}
                        <span class="fa fa-circle status-active"></span>
                    {% else %}
                        <span class="fa fa-circle status-desactive"></span>
                    {% endif %}
                    </center>
                    
                </td>                
                <td>
                    <center>
                    <a href="{{ path('ds_facyt_admin_channel_edit', { 'id': entity.id }) }}"> <span class="fa fa-pencil"></span></a>
                    </center>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
        
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>        
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}   

{% endblock javascripts %}

