{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}
    {% block title_notifications %} <span class="fa fa-desktop"></span>  Crear canal {% endblock title_notifications %}
{% block body -%}
    <h1>Creación de nuevo canal</h1>


     {{ form_start(form ,{attr: {novalidate: 'novalidate'}}) }}
     <div class="row">
         <div class="col-xs-8 col-xs-offset-2">            

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Editar Canal</h4>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control '}}) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_label(form.status, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.status, {'attr': {'class': 'form-control '}}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                        {{ form_label(form.description, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control '}}) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-16">
                        <center>
                            {{ form_label(form.submit, null, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                        </center>
                    </div>
                </div>                    
            </div>
            {{ form_rest(form)}}

      </div>
      </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>        
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}   

{% endblock javascripts %}

