{% extends "DSFacytInfrastructureBundle:Display:base.html.twig" %}

{% block stylesheets %}
    {% if app.environment == "dev" %}
    <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/template.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/display.css') }}"/>
    {% else %}
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endif %}

{% endblock %}

{% block title %}
Canales Online
{% endblock title %}


{% block body %}

 {% include 'DSFacytInfrastructureBundle:Default:header.html.twig' %}
<div class="body-channel">
    <br>
    <br>
    <div class="container" style="min-height:100vh">
        <div class="row">
            <div class="col-xs-6" style="color:white;position:fixed">
                <h2><span class="fa fa-desktop"></span> Canales Online</h2>
                <br>
                <h4> <i class="fa fa-check"></i> Visualiza la programación de los canales disponibles. <br><br>
                <i class="fa fa-check"></i> Selecciona el canal que quieres visualizar.<br><br>
                <i class="fa fa-check"></i> <a href="#"><b>¿Qué es un canal?</b></a><br>
                </h4>
            </div>
            {% for currentChannel in data %}
                <div class="col-xs-6 col-xs-offset-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{currentChannel.name}}</h3>
                        </div>
                        <div class="panel-body">
                            {{currentChannel.description}}
                            <br>
                            <a href="{{ path('ds_facyt_display_show',{'slug':currentChannel.slug})}}"> <span style="color:green" class="fa fa-circle"> </span> Ver canal </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock body %}

{% block footer %}
    {% include 'DSFacytInfrastructureBundle:Default:footer.html.twig' %}
{% endblock footer %}

{% block javascripts%}
    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>

    {% else %}
        {% javascripts
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
        "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/template-panel.js"

        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}
{% endblock %}