{% extends "DSFacytInfrastructureBundle:Display:base.html.twig" %}

{% block stylesheets %}
    {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/display.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/angular-clock.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/videogular.css') }}"/>
    {% else %}
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
f
        {% endstylesheets %}
    {% endif %}

{% endblock %}

{% block body %}
    <div class="container-display" ng-app="TransmitionModule" ng-controller="TransmitionController as controller" style="height: 100vh !important;width: 100%;" >
        <div class="block-media">
        <div id="carousel-images" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" ng-if="showImages">
            <div class="carousel-inner">
                <div class="item" ng-repeat="n in [] | range:images.length" ng-class="{'active':!$index}">
                    <center><img src="/uploads/images/{[{images[$index].image_url}]}" style="
    vertical-align: middle;
    width: 80%;
    max-width: 410px;
    background-position: center center;
    background-repeat: no-repeat;"></center>
                </div>
            </div>
        </div>
         <videogular vg-theme="controller.config.theme" ng-if="showVideos" vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-auto-play="true">
            <vg-media vg-src="controller.config.sources"
                     vg-plays-inline="true">
            </vg-media>
 
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{[{ currentTime | date:'mm:ss' }]}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{[{ timeLeft | date:'mm:ss' }]}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>
 
            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        </videogular>        
        </div>
        <div class="block-info">
            <div class="block-time">
                <div class="block-time" style="margin: 10px">
                    <div class="time"  >
                        <ds-widget-clock show-digital digital-format="'hh:mm:ss a '">></ds-widget-clock>
                    </div>
                    <div class="date">
                        <ds-widget-clock show-digital digital-format="'EEEE MMMM d'">></ds-widget-clock>
                    </div>
                </div>
            </div>
            <div class="block-text">
                <div id="carousel-texts" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
                    <div class="carousel-inner">
                            <div class="item" ng-repeat="n in [] | range:texts.length" ng-class="{'active':!$index}">
                            <div class="panel panel-default" data-interval="500">
                                <div class="panel-heading" style="font-size:16px;">
                                    <b>{[{ texts[$index].title }]}</b> <span style="float: right"> {[{ texts[$index].start_date }]}</span>
                                </div>
                                <div class="panel-body">
                                    <div class="text-profile">
                                        <img src="/uploads/images/{[{texts[$index].image_profile}]}" alt="" style="vertical-align:middle;float:left;width: 80%;height: 60px;  background-position: center center;  background-repeat: no-repeat;float:left;">
                                        <left> <p style="float:left;width:100%">{[{texts[$index].currentText.user_full_name}]}</p></left>
                                    </div>
                                    <div class="text-info">
                                    {[{ texts[$index].info }]}
                                    </div>
                                </div>
                            </div>                        
                        </div>                        
                    </div>                    
                </div>
            </div>
        </div>
        <div class="block-quick-notes" >
            <div id="carousel-quick-notes" class="carousel slide carousel-fade" data-ride="carousel" data-pause="false">
                <div class="carousel-inner">
                    <div class="item" ng-repeat="n in [] | range:quickNotes.length" ng-init="i_parent = $index "ng-class="{'active':!i_parent}" >
                        <p>
                         {[{quickNotes[$index].info}]}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts%}
    {{ parent() }}
    
    {% if data is defined %}
    <script type="text/javascript">
        var data = "{{ data }}";
        var div = document.createElement('div');
        div.innerHTML = data;
        data = div.firstChild.nodeValue;
        data = JSON.parse(data);
    </script>
    {% endif %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>        
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/moment.js') }}"></script>        
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-clock.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-sanitize.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/videogular.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-controls.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-overlay-play.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-poster.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/vg-buffering.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Display/Transmition/TransmitionModule.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Display/Transmition/TransmitionService.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Display/Transmition/TransmitionController.js') }}"></script>
    
    {% endif %}

    <script type="text/javascript">

        jQuery(function($) {
            $('#carousel-texts').carousel({
                interval: 10000
            });            
        });
        jQuery(function($) {
            $('#carousel-images').carousel({
                interval: 1000
            });            
        });

        jQuery(function($) {
        $('#carousel-quick-notes').carousel({
                interval: 1000
            });
        });
        
    </script>


{% endblock javascripts %}