<nav class="navbar navbar-custom navbar-fixed-top top-navbar-panel" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{{path('ds_facyt_infrastructure_homepage')}}">
                <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_homepage' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_homepage')}}"> <span class="fa fa-list-alt"></span> Principal </a>
                </li>
                {% if ('/text' in app.request.uri) %}
                <li class="dropdown active">
                {% else %}
                <li class="dropdown">
                    {% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" > <span class="fa fa-picture-o"></span> Textos<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-header">
                        <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_text_homepage' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_text_homepage') }}"><span class="fa fa-picture-o"></span> Textos</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_text_homepage') }}"><span class="fa fa-picture-o"></span> Textos</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_text_new' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_text_new') }}"><span class="fa fa-plus"></span> Nuevo</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_text_new') }}"><span class="fa fa-plus"></span> Nuevo</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>

                {% if ('/image' in app.request.uri) %}
                <li class="dropdown active">
                {% else %}
                <li class="dropdown">
                    {% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" > <span class="fa fa-picture-o"></span> Imágenes<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-header">
                        <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_image_homepage' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_image_homepage') }}"><span class="fa fa-picture-o"></span> Imágenes</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_image_homepage') }}"><span class="fa fa-picture-o"></span> Imágenes</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_image_new' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_image_new') }}"><span class="fa fa-plus"></span> Nuevo</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_image_new') }}"><span class="fa fa-plus"></span> Nuevo</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>

                {% if ('/video' in app.request.uri) %}
                <li class="dropdown active">
                {% else %}
                <li class="dropdown">
                    {% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" > <span class="fa fa-play-circle-o"></span> Video<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-header">
                        <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_video_homepage' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_video_homepage') }}"><span class="fa fa-play-circle-o"></span> Videos</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_video_homepage') }}"><span class="fa fa-play-circle-o"></span> Videos</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_video_new' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_video_new') }}"><span class="fa fa-plus"></span> Nuevo</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_video_new') }}"><span class="fa fa-plus"></span> Nuevo</a>
                            {% endif %}
                        </li>
                    </ul>
                </li>
                {#{% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_profile' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_profile') }}"> <span class="fa fa-user"></span> Perfil</a>
                </li>#}
                {% if ('/profile' in app.request.uri) %}
                    <li class="dropdown active">
                {% else %}
                    <li class="dropdown">
                {% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" > <span class="fa fa-user"></span> Perfil<span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-header">

                            <li>
                            {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_profile' %}
                                <a class="active" href="{{ path('ds_facyt_infrastructure_user_profile') }}"><span class="fa fa-pencil"></span> Editar datos</a>
                            {% else %}
                                <a href="{{ path('ds_facyt_infrastructure_user_profile') }}"><span class="fa fa-pencil"></span> Editar datos</a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{{ path('ds_facyt_infrastructure_user_security_logout') }}"><span class="fa fa-sign-out"></span> Salir</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="divider-header-body"></div>
