<nav class="navbar navbar-custom navbar-fixed-top top-navbar-panel" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{{path('ds_facyt_infrastructure_homepage')}}">
                <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_homepage' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_homepage')}}"> <span class="fa fa-list-alt"></span> Principal </a>
                </li>
                {% if hasAccess('text') %}
                    {% if ('/text' in app.request.uri) %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_text_homepage')}}"> <span class="fa fa-pencil"></span> Textos </a>
                    </li>
                {% endif %}

                {% if hasAccess('image') %}
                    {% if ('/image' in app.request.uri) %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}                
                        <a href="{{path('ds_facyt_infrastructure_user_image_homepage')}}">
                            <i class="fa fa-picture-o"></i> Imágenes
                        </a>
                    </li>
                {% endif %}

                {% if hasAccess('video') %}
                    {% if ('/video' in app.request.uri) %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ path('ds_facyt_infrastructure_user_video_homepage')}} "> <span class="fa fa-play-circle-o"></span> Videos</a>
                    </li>
                {% endif %}
                
                {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_profile' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_profile') }}"> <span class="fa fa-user"></span> Perfil</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="divider-header-body"></div>
