{% extends "base.html.twig" %}

{% block stylesheets %}
            
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/stylesheets/screen.css'
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/css/metisMenu/metisMenu.css'
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/css/startbootstrap-sb-admin-2/timeline.css'
        '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/css/startbootstrap-sb-admin-2/sb-admin-2.css'

         filter='?yui_css'  %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

        {% endstylesheets %}    
    
{% endblock %}

{% block body %}
<!-- {#
<div ng-app="ExampleModule" ng-controller="ExampleController">

    <button type="button" class="btn btn-lg btn-danger" ng-click="showModal()">Modal
      <br>
      <small>(using service)</small>
    </button>

    <b>New Contacto</b><br> 
    Nombre: <input type="text" ng-model="newContact.name"> <br>
    Apellido: <input type="text" ng-model="newContact.last_name"> <br>
    <b ng-if="newContact.isString == false"> Error</b><br>
    <button ng-click="addContact()"> Agregar </button>
    <br><br>

    Buscar Nombre: <input type="text" ng-model="search.name">
    Buscar Apellido: <input type="text" ng-model="search.last_name">
    
    <br>
    <br>
    Número a Agregar: <input type="text"  id="input" class="form-control"  ng-model="string" ng-change="addNumber(string)"><br>
    <br>
    <input type="number" step="3" ng-model="number" ng-change="quiteValue(number)">

    <table class="table table-bordered table-hover ">
        <thead>
            <th><a href="" ng-click="reverse=!reverse;order('name',reverse)">Nombre</a></th>
            <th><a href="" ng-click="reverse=!reverse;order('last_name',reverse)">Apellido</a></th>
            <th><a href="" ng-click="reverse=!reverse;order('age',reverse)">Edad</a></th>
        </thead>
        <tr ng-repeat="aux in array | filter: search: strict ">
                                            <td>{[{aux.name  }]}</td>
            <td>{[{aux.last_name}]}</td>
            <td>{[{aux.age}]}</td>
        </tr>
    </table>
    {{ include("DSFacytInfrastructureBundle:User:Modal/modalExample.html.twig") }}
</div>#}-->
{% include 'DSFacytInfrastructureBundle:User:header.html.twig' %}
    <div id="page-wrapper" style="min-height: 311px;">
            <div class="row">
                <div class="col-lg-12 ">
                    <h1 class="page-header ">  <span class="fa fa-dashboard"></span> Panel de Usuario</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-pencil fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Textos Rapidos</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <a href="{{ path('ds_facyt_infrastructure_user_text_homepage') }}">
                                <span class="pull-left">Ver Textos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-image fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>Imagenes</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <a href="{{ path('ds_facyt_infrastructure_user_image_homepage') }}">
                                <span class="pull-left">Ver Imagenes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-video-camera fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Videos</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <a href="{{ path('ds_facyt_infrastructure_user_video_homepage') }}">
                                <span class="pull-left">Ver tus videos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Perfil</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Ver perfil</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
                    
        </div>    
</div>  
{% endblock %}

{% block javascripts%}
    {% if app.environment == "dev" %}
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.tpl.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/exampleModule.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/exampleService.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/exampleController.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/metisMenu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/sb-admin-2.js') }}"></script>
    {% else %}
        {% javascripts         
            '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/jquery.js' 
            '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/bootstrap.js'
            '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/metisMenu.js'
            '@DSFacytInfrastructureBundle/Resources/public/assets/vendor/js/sb-admin-2.js'        

            
        filter='?yui_js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}
{% endblock %}