{% extends "base.html.twig" %}

{% block stylesheets %}
    {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/template.css') }}"/>
    {% else %}
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endif %}

{% endblock %}

 {% block body %}

     {% include 'DSFacytInfrastructureBundle:User:header.html.twig' %}
     <div id="body-user" >
         <div class="container" ng-app="UserModule" ng-controller="UserController" >
             <br>
             <br>
             <br>
             <div  id="page-wrapper" style="min-height: 311px;">
             <div class="row">
                 <div class="col-xs-8 col-xs-offset-2">
                 <div class="panel panel-default">
                    <div class="panel-heading"> <h5>TUS DATOS - {[{ data.user_name }]}</h5></div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs nav-justified">
                                <li class="active">
                                    <a href="#1" data-toggle="tab"><i class="fa fa-list"></i> Datos del usuario</a>
                                </li>
                                <li>
                                    <a href="#2" data-toggle="tab">
                                        <i class="fa fa-camera"></i>
                                         Foto de Perfil
                                    </a>
                                <li><a href="#3" data-toggle="tab"><i class="fa fa-lock"></i> Cambiar Contraseña</a>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <br>
                                            <b>Nombre de Usuario</b> {[{ data.user_name }]}.
                                            <hr>
                                        </div>
                                        <hr>
                                        <div class="col-xs-12 col-md-6">

                                            <b>Cédula</b> <i ng-show="profile_data_text">{[{data.identity_card}]}</i>
                                            <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                            <input type="number" ng-show="!profile_data_text" value="{[{data.identity_card}]}" class="form-control col-xs-6" ng-model="editData.identity_card">
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Nombre</b> <i ng-show="profile_data_text">{[{ data.name }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <input type="text" ng-show="!profile_data_text" value="{[{data.name}]}" class="form-control" ng-modal="editData.name">
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Apellido</b> <i ng-show="profile_data_text">{[{ data.last_name }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <input type="text" ng-show="!profile_data_text" value="{[{data.last_name}]}" class="form-control" ng-modal="editData.last_name">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Escuela</b> <i ng-show="profile_data_text">{[{ data.school }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <select  class="form-control" ng-show="!profile_data_text" ng-model="editData.school">
                                                    <option ng-repeat="current_school in data.all_school" ng-modal="editData.school_id" value="{[{current_school.id }]}" ng-selected="current_school.name == data.school">{[{ current_school.name }]}</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Télefono</b> <i ng-show="profile_data_text">{[{ data.phone }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <input type="text" ng-show="!profile_data_text" value="{[{data.phone}]}" class="form-control" ng-modal="editData.phone">
                                            </div>

                                        <div class="col-xs-12 col-md-6">
                                            <br>
                                            <button class="btn btn-sm btn-primary btn-block col-xs-4" ng-show="!profile_data_text" ng-click="sendEditData();"> <i class="fa fa-check" ></i> &nbsp; Actualizar Datos</button>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <br>
                                            <button ng-click="cancelEditProfile()" class="btn btn-sm btn-block col-xs-4" ng-show="!profile_data_text" > <i class="fa fa-close" ></i> &nbsp; Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="2">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4">
                                                    <img src="{[{data.profile_image}]}" style="width: 100%">
                                                </div>
                                                <div class="col-xs-12 col-md-8">
                                                    <p>
                                                        <b>Tu imagen de Perfil</b>
                                                        <br>
                                                        <br>
                                                        *<b> ¿Qué es? La imagen de perfil</b> te identifica con los
                                                        espectadores al momento de realizar alguna publicación.
                                                        <br>
                                                        <br>
                                                        *<b> Recuerda</b> Eligir una imagen prudente que te represente como usuario del sistema.
                                                        <br>
                                                        <br>
                                                        *<b> Formato</b> El archivo debe tener formato png, jpg o jpeg.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="3">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <br>
                                            <label> <b>Cambiando contraseña</b></label>
                                            <div class="row" >
                                                <br>
                                                <div class="col-xs-12 col-md-4" >
                                                    <label>Anterior Contraseña</label>
                                                    <input class="col-xs-4 form-control" type="password">
                                                </div>
                                                <div class="col-xs-12 col-md-4" >
                                                    <label>Nueva Contraseña</label>
                                                    <input class="col-xs-4 form-control" type="password">
                                                </div>
                                                <div class="col-xs-12 col-md-4" >
                                                    <label>Repetir Contraseña</label>
                                                    <input class="col-xs-4 form-control" type="password">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6" >
                                                    <button class="btn btn-sm btn-primary btn-block"> <i class="fa fa-check" ></i> &nbsp; Confirmar Cambio</button>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <button ng-click="cancelChangePassword()" class="btn btn-sm btn-block " ng-show="change_password" > <i class="fa fa-close" ></i> &nbsp; Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
             </div>
         </div>
     </div>

{% endblock body %}

{% block footer %}
    {% include 'DSFacytInfrastructureBundle:Default:footer.html.twig' %}
{% endblock footer %}

{% block javascripts%}


    <!-- Tomando variables enviadas desde el servidor -->
    <script type="text/javascript">
        var data = "{{ data }}";
        var div = document.createElement('div');
        div.innerHTML = data;
        data = div.firstChild.nodeValue;
        //console.log( div.firstChild.nodeValue);
        data = JSON.parse(data);
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.tpl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/User/userModule.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/User/userService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/User/userController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
    {% else %}
        {% javascripts
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}
{% endblock javascripts %}