{% extends "base.html.twig" %}
{% block title %} Perfil {% endblock title %} 
{% block stylesheets %}
    {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/template.css') }}"
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/ng-img-crop.css') }}">

    {% else %}
        {% stylesheets
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endif %}

{% endblock %}

 {% block body %}

     {% include 'DSFacytInfrastructureBundle:User:header.html.twig' %}
   
     <div id="body-user" >
         <div class="container" ng-app="UserModule" ng-controller="UserController" >
             <br>
             <div class="col-xs-12" id="box-title">
                <br>
                <h1>  <span class="fa fa-user"></span> Editar perfil</h1>
                <h4> <span class="fa fa-check"></span> Edita tus datos de usuario</h4>
                <br>
                <br>
            </div>
             <div  id="page-wrapper" style="min-height: 311px;">
             <div class="row">
                 <div class="col-xs-8 col-xs-offset-2">
                 <div class="panel panel-default">
                    <div class="panel-heading"> <h5>TUS DATOS - {[{ data.user_name }]}</h5></div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs nav-justified">
                                <li >
                                    <a href="#1" data-toggle="tab"><i class="fa fa-list"></i> Datos del usuario</a>
                                </li>
                                <li class="active">
                                    <a href="#2" data-toggle="tab">
                                        <i class="fa fa-camera"></i>
                                         Foto de Perfil
                                    </a>
                                </li>                                
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane " id="1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <br>
                                            <b>Nombre de Usuario</b> {[{ data.user_name }]}.
                                            <hr>
                                        </div>
                                        <hr>
                                        <div class="col-xs-12 col-md-6">

                                            <b>Cédula</b> <i ng-show="profile_data_text">{[{data.identity_card}]}</i>
                                            <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                            <input type="number" ng-show="!profile_data_text" value="{[{data.identity_card}]}" class="form-control col-xs-6" ng-model="editData.identity_card">
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Nombre</b> <i ng-show="profile_data_text">{[{ data.name }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <input type="text" ng-show="!profile_data_text" value="{[{data.name}]}" class="form-control" ng-model="editData.name">
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Apellido</b> <i ng-show="profile_data_text">{[{ data.last_name }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <input type="text" ng-show="!profile_data_text" value="{[{data.last_name}]}" class="form-control" ng-model="editData.last_name">
                                            </div>
                                            <br>
                                            <br>
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Escuela</b> <i ng-show="profile_data_text">{[{ data.school }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <select  class="form-control" ng-show="!profile_data_text">
                                                    <option ng-repeat="current_school in data.all_school" ng-model="editData.school_index" value="$index" ng-selected="current_school.name == data.school">{[{ current_school.name }]}</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <br>
                                                <b>Télefono</b> <i ng-show="profile_data_text">{[{ data.phone }]}</i>
                                                <b class="pull-right" ng-show="profile_data_text"><i class="fa fa-pencil" ng-click="editProfile()"></i></b>
                                                <input type="text" ng-show="!profile_data_text" value="{[{data.phone}]}" class="form-control" ng-model="editData.phone">
                                            </div>

                                        <div class="col-xs-12 col-md-6">
                                            <br>
                                            <button class="btn btn-sm btn-primary btn-block col-xs-4" ng-show="!profile_data_text" ng-click="sendEditData();"> <i class="fa fa-check" ></i> &nbsp; Actualizar Datos</button>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <br>
                                            <button ng-click="cancelEditProfile()" class="btn btn-sm btn-block col-xs-4" ng-show="!profile_data_text" > <i class="fa fa-close" ></i> &nbsp; Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="2">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <br>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-4 ">
                                                    <div class="row">
                                                        <div class="col-xs-10 col-xs-offset-1 uploadImage" >
                                                            <center>
                                                            <label class="button img-rounded img-default drop-box" style="text-align:center;">
                                                                <span ng-if="!cropper.sourceImage" class="fa fa-camera fa-3x camera button"></span>
                                                                <center ng-if="!cropper.sourceImage"><h6>Subir imagen</h6></center>
                                                                <center ng-if="cropper.sourceImage != null" id="change-image" >
                                                                    <h6 style="color: white;font-weight: bold;">Cambiar </h6>
                                                                </center>
                                                                <span class="fa fa-circle-o-notch fa-spin" ng-if="icon_loading" ></span>
                                                                <input type="file" img-cropper-fileread image="cropper.sourceImage" onchange="angular.element(this).scope().showCropImageModal(this)" ng-model="file" style="display: none;" result-image-size="10" />
                                                            </label>
                                                            <div ng-show="cropper.croppedImage!=null"><img ng-src="{[{cropper.croppedImage}]}" style="width: 100%"/></div>
                                                            </center>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-8">
                                                    <p>
                                                        <b>Tu imagen de Perfil</b>
                                                        <br>
                                                        <br>
                                                        *<b> La imagen de perfil</b> te identifica al momento de realizar alguna publicación.
                                                        <br>
                                                        <br>
                                                        *<b> Recuerda</b> Eligir una imagen prudente que te represente como usuario del sistema.
                                                        <br>
                                                        <br>
                                                        *<b> Formato</b> El archivo debe tener formato png, jpg o jpeg.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
             </div>
             {{ include("DSFacytInfrastructureBundle:User:Modal/modalUploadImage.html.twig") }}
         </div>
     </div>
{% endblock body %}

{% block footer %}
    {% include 'DSFacytInfrastructureBundle:Default:footer.html.twig' %}
{% endblock footer %}

{% block javascripts%}


    <!-- Tomando variables enviadas desde el servidor -->
    <script type="text/javascript">
        var data = "{{ data }}";
        var div = document.createElement('div');
        div.innerHTML = data;
        data = div.firstChild.nodeValue;
        //console.log( div.firstChild.nodeValue);
        data = JSON.parse(data);
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-repeat-n.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-strap.tpl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular-img-cropper.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/ng-file-upload-shim.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/ng-file-upload.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/User/userModule.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/User/userService.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/User/userController.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
    {% else %}
        {% javascripts
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
        "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/angular-strap.js"
        "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/fileUpload.js"
        "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/app-panel-user.js"
        "@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/bootstrap-datepicker.js"
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}

{% endblock javascripts %}