<nav class="navbar navbar-custom navbar-fixed-top top-navbar-panel" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="{{path('ds_facyt_infrastructure_homepage')}}">
                <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                {% if app.request.attributes.get('_route') == 'ds_facyt_display_index' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a class="page-scroll" href="{{ path('ds_facyt_display_index')}}"> <span class="fa fa-desktop"></span> Canales Online</a>
                </li>
                <li>
                    <a href="{{path('ds_facyt_infrastructure_importants')}}">
                        <i class="fa fa-star"></i> Destacados
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact"> <span class="fa fa-question"></span> Ayuda</a>
                </li>
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_security_login' %}
                    <li class="active">
                        {% else %}
                    <li>
                        {% endif %}
                        <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_security_login') }}"> <span class="fa fa-user"></span> Entrar</a>
                    </li>
                {% else %}
                    <li>
                        <a class="page-scroll" href="{{ path('ds_facyt_infrastructure_user_homepage') }}"> <span class="fa fa-list-alt"></span> Panel</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="divider-header-body"></div>