<nav class="navbar navbar-inverse navbar-fixed-top top-navbar-panel" role="navigation" id="top-navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="{{path('ds_facyt_infrastructure_homepage')}}">
            <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
        </a>

        </div>
    <div class="container">
        <a class="navbar-brand hidden-xs" href="{{path('ds_facyt_infrastructure_homepage')}}">
            <img src="{{ asset('images/logo-facyt.png')}}" id="logo-facyt">
        </a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse sidebar dropdown" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right visible-xs">
                <li class="desactive ">
                    <a href="#"><i class="fa fa-question-circle"></i><br> Ayuda</a>
                </li>
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}

                    {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_register' %}
                        <li class="active ">
                    {% else %}
                        <li class="desactive ">
                    {% endif %}
                        <a href="{{path('ds_facyt_infrastructure_register')}}" style="background-color:white"><i class="fa fa-sign-in"></i><br> Registrate</a>
                    </li>

                    {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_security_login' %}
                        <li class="active ">
                    {% else %}
                        <li class="desactive ">
                    {% endif %}
                        <a href="{{ path('ds_facyt_infrastructure_user_security_login') }}" style="background-color:white"><i class="fa fa-user"></i><br> Entrar
                    </li>

                {% else %}
                    <li class="desactive ">
                        <a href="{{ path('ds_facyt_infrastructure_user_homepage')}}"><i class="fa fa-list-alt"></i><br> Panel</a>
                    </li>
                    <li class="desactive ">
                        <a href="{{ path('ds_facyt_infrastructure_user_security_logout') }}"><i class="fa fa-sign-out"></i><br>Salir </a>
                    </li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}

                    {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_user_security_login' %}
                        <li class="active ">
                    {% else %}
                        <li class="desactive ">
                    {% endif %}
                    <a href="{{ path('ds_facyt_infrastructure_user_security_login') }}" style="background-color:white"><i class="fa fa-user"></i><br> Entrar                 </li>

                    {% if app.request.attributes.get('_route') == 'ds_facyt_infrastructure_register' %}
                        <li class="active ">
                    {% else %}
                        <li class="desactive ">
                    {% endif %}
                    <a href="{{path('ds_facyt_infrastructure_register')}}" style="background-color:white"><i class="fa fa-sign-in"></i><br> Registrate</a>
                    </li>
                {% else %}
                    <li class="desactive ">
                        <a href="{{ path('ds_facyt_infrastructure_user_security_logout') }}"><i class="fa fa-sign-out"></i><br>Salir </a>
                    </li>
                    <li class="desactive ">
                        <a href="{{ path('ds_facyt_infrastructure_user_homepage')}}"><i class="fa fa-list-alt"></i><br> Panel</a>
                    </li>
                {% endif %}
                <li class="desactive ">
                    <a href="#"><i class="fa fa-question-circle"></i><br> Ayuda</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>