 {% extends "base.html.twig" %}

{% block stylesheets %}
     {% if app.environment == "dev" %}
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/stylesheets/screen.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/metisMenu/metisMenu.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/bootstrap-datepicker.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/startbootstrap-sb-admin-2/timeline.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/css/startbootstrap-sb-admin-2/sb-admin-2.css') }}"/>

    {% else %}
       {% stylesheets
       '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/screen.css'
       '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/template-panel.css'
       '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/css/datepicker.css'

       %}
       <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

       {% endstylesheets %}
    {% endif %}

{% endblock stylesheets %}

{% block body %}
    {% include 'DSFacytInfrastructureBundle:User:header.html.twig' %}

    <div id="page-wrapper" style="min-height: 311px;">
        <div class="row">
            <div class="col-xs-12 ">
                <h1 class="page-header ">  <span class="fa fa-pencil"></span> Publicar texto</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Ingresa los datos de la publicación</div>

                    <div class="panel-body">
                        {{ form_start(form ,{attr: {novalidate: 'novalidate'}}) }}
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                {{ form_errors(form.title) }}
                                {{ form_label(form.title, null, {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.title, {'attr': {'class': 'form-control '}}) }}
                                <br>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row ">
                                    <div class="col-xs-4">
                                        {{ form_errors(form.publish_time) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_errors(form.start_date) }}
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_errors(form.end_date) }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="row ">
                                    <div class="col-xs-4">

                                        {{ form_label(form.publish_time, null, {'label_attr': {'class': 'control-label'}}) }}
                                        {{ form_widget(form.publish_time, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                    <div class="col-xs-4">

                                        {{ form_label(form.start_date, null, {'label_attr': {'class': 'control-label'}}) }}
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {{ form_widget(form.start_date, {'attr': {'class': 'form-control'}}) }}

                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        {{ form_label(form.end_date, null, {'label_attr': {'class': 'control-label'}}) }}
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {{ form_widget(form.end_date, {'attr': {'class': 'form-control'}}) }}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1" id="register_text_checkbox">
                                <br>
                                {{ form_errors(form.Channels) }}
                                {{ form_label(form.Channels,  null, {'label_attr': {'class': 'foo'}}) }}
                                {{ form_widget(form.Channels, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col-xs-10 col-xs-offset-1">
                                    {{ form_errors(form.document) }}
                                    {{ form_label(form.document,  null, {'label_attr': {'class': 'foo'}}) }}
                                    <br>
                                    {{ form_label(form.document.name,  null, {'label_attr': {'class': 'foo'}}) }}
                                    {{ form_widget(form.document.name, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_label(form.document.file,  null, {'label_attr': {'class': 'foo'}}) }}
                                    {{ form_widget(form.document.file, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group ">
                                    <div class="control-label required"></div>
                                    <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block btn-sm" >Publicar</button>
                                </div>
                            </div>

                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts%}


    {% if app.environment == "dev" %}

        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/metisMenu.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/sb-admin-2.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap-datepicker.es.min.js') }}"></script>


    {% else %}
        {% javascripts
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/template-panel.js'
        '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/bootstrap-datepicker.js'

        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}

    <script type="text/javascript">
        $('.input-group.date').datepicker({
            language: "es",
            format: 'dd/mm/yyyy',
            startDate: '-3d',
        });
    </script>


{% endblock %}