{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}
{% block title %} Editar Nota Rápida{% endblock title %}
{% block title_notifications %}
    <span class="fa fa-paper-plane"></span> Editar imagen
{% endblock title_notifications %}

{% block body %}

    <div ng-app="NotificationModule" ng-controller="NotificationController">
    {% include "DSFacytInfrastructureBundle:Admin/Default:notifications.html.twig" %}
    <h1>Nota Rápida</h1>

    {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('ds_facyt_infrastructure_admin_quicknote') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Notification/notification.js') }}"></script>
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}   

{% endblock javascripts %}

