{% extends 'DSFacytInfrastructureBundle:Admin/Default:base.html.twig' %}
{% block title %} Editar Nota Rápida{% endblock title %}
{% block title_notifications %}
    <span class="fa fa-paper-plane"></span> Editar imagen
{% endblock title_notifications %}

{% block body %}

    <div ng-app="NotificationModule" ng-controller="NotificationController">
    {% include "DSFacytInfrastructureBundle:Admin/Default:notifications.html.twig" %}
    <h1>Nota Rápida</h1>

<div class="row">
        <div class="col-xs-8 col-xs-offset-2">            
             {{ form_start(form ,{attr: {novalidate: 'novalidate'}}) }}
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Editar Canal</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6">
                            {{ form_label(form.title, null, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-control '}}) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_label(form.status, null, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.status, {'attr': {'class': 'form-control '}}) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_label(form.info, null, {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(form.info, {'attr': {'class': 'form-control '}}) }}
                        </div>                    
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-16">
                            <center>
                                {{ form_label(form.submit, null, {'label_attr': {'class': 'control-label'}}) }}
                                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                            </center>
                        </div>
                    </div>                        
                </div>
            </div>
        </div>
    {{ form_rest(form)}}
    </div>
    {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('ds_facyt_infrastructure_admin_quicknote') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% if app.environment == "dev" %}
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/vendor/js/angular.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dsfacytinfrastructure/assets/DSFacyt/angular/Admin/Notification/notification.js') }}"></script>
    {% else %}
        {% javascripts
            '@DSFacytInfrastructureBundle/Resources/public/assets/DSFacyt/dist/js/scripts.js'                   
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endif %}   

{% endblock javascripts %}

